// primary colors
$primary-blue: #0095FF; // BrainFlix - blue
$primary-white: #FFFFFF; // White
$primary-silver: #AFAFAF; //Silver
$primary-black: #323232; // BrainFlix - black


// secondary colors
$secondary-darkblue: #0065AD; // BrainFlix - dark-blue
$secondary-white: #FAFAFA; // Alabaster
$secondary-silver: #E1E1E1; // Mercury
$secondary-black: #000000; // BrainFlix - dark-black

// error state in comments form
$error-red: #D22D2D;