@import './colors';

// IMPORT FONTS
@font-face {
    font-family: Bold;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: Regular;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}


// DESCTOPS & TABLET TEXT STYLES

@media screen and (min-width: 768px) {
// page-header
h1 {
    font-size: 2.1rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: 'Bold';
    color: $primary-black;
}

// section-header
h2 {
    font-size: 0.75rem;
    line-height: 1.375rem;
    font-weight: 700;
    font-family: 'Bold';
    color: $primary-silver;
}

// subheader
h3 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: 'Bold';
    color: $primary-black;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
    font-family: 'Bold';
    color: $primary-silver;
}

// pagragraph text
p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: 'Regular';
    color: $primary-black;
}
}

// MOBILE TEXT STYLES

@media screen and (max-width: 767px) {
    // page-header
    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 300;
        font-family: 'Bold';
        color: $primary-black;
    }
    
    // section-header
    h2 {
        font-size: 0.85rem;
        line-height: 1.25rem;
        font-weight: 700;
        font-family: 'Bold';
        color: $primary-silver;
    }
    
    // subheader
    h3 {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 700;
        font-family: 'Bold';
        color: $primary-black;
    }
    
    // labels-and-buttons
    h4 { 
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        font-family: 'Regular';
        color: $primary-silver;
    }

    // body and footer - copy
    p {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        font-family: 'Regular';
        color: $primary-black;
    }
    }