@import "../../styles/partials/_colors.scss";
@import "../../styles/partials/_fonts.scss";
@import "../../styles/partials/_globals";

.upload {
  &__header {
    padding: 2rem 1rem 1rem 1rem;
  }

  &__hero {
    margin: 1rem;
  }

  &__subheader {
    margin-bottom: 1rem;
  }

  &__preview-image {
    width: calc(100%);
    border-radius: 4px;
  }

  &__form {
    margin: 1rem;
  }

  &__button-input {
    width: calc(100%);
    margin: 1.5rem 0;
    height: 2.5rem;
    color: white;
    background-color: $primary-blue;
    border: none;
    border-radius: 4px;
    background-image: url(../../assets/icons/publish.svg);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  input[type="file"]::file-selector-button {
    width: calc(100%);
    margin: 1rem 0;
    height: 2.5rem;
    color: white;
    background-color: $primary-blue;
    border: none;
    border-radius: 4px;
    font-size: 0.875rem;
    text-transform: capitalize;
  }

  input[type="file"]::file-selector-button:hover {
    background-color: $primary-blue;
  }

  &__preview-image--error {
    border-color: $error-red;
    color: $error-red;
  }

  &__cancel {
    text-decoration: none;
    border: none;
    background-color: white;
    font-family: "Demi";
    font-size: 0.875rem;
    color: $primary-blue;
    display: flex;
    justify-content: center;
    margin: auto;
    &:hover {
      cursor: pointer;
    }
  }

  &__name-input {
    width: calc(100%);
    margin-bottom: 1rem;
    height: 2.5rem;
    background-color: $secondary-white;
    border: 1px solid $primary-silver;
    border-radius: 4px;
    font-family: "Regular";
    padding: 0.75rem;
    outline: none;
    resize: none;

    &:focus {
      border-color: $primary-blue;
      border-width: 2px;
    }

    &--error {
      border-color: $error-red;
    }
  }

  &__description-input {
    width: calc(100%);
    height: 7rem;
    background-color: $secondary-white;
    border: 1px solid $primary-silver;
    border-radius: 4px;
    font-family: "Regular";
    padding: 0.75rem;
    outline: none;

    &:focus {
      border-color: $primary-blue;
      border-width: 2px;
    }

    &--error {
      border-color: $error-red;
    }
  }
}

// TABLET STYLES

@media ((min-width: 768px) and (max-width: 1279px)) {
  .upload {
    margin: 0.5rem;

    &__hero {
      padding-top: 1.5rem;
      margin: 1rem;
      border-top: 1px solid $secondary-silver;
    }

    &__preview-image {
      width: calc(50%);
    }

    &__button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 2rem 0;
      padding-top: 1rem;

      position: relative;
      border-top: 1px solid $secondary-silver;

      &-input {
        width: 10rem;
        margin-right: 0;
      }
    }

    input[type=file]::file-selector-button {
      width: 10rem;
      margin-right: 0.5rem;
      margin-left: auto;
    }

    &__input {
      display: flex;
      justify-content: space-between;
    }

    &__cancel {
      margin-bottom: 0;
      position: absolute;
      right: 15rem;
    }
  }
}

// DESKTOP STYLES

@media screen and (min-width: 1280px) {
  .upload {
    margin: 0 5rem;

    &__header {
      margin: 0 1rem;
      padding-left: 0;
      border-bottom: 1px solid $secondary-silver;
    }

    &__container {
      display: flex;
      justify-content: center;
    }

    &__hero {
      width: 40%;
    }

    &__form {
      width: 60%;
    }

    &__preview-image {
      width: calc(100%);
      height: 17.5rem;
      object-fit: cover;
    }

    &__button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 2rem 0;
      padding-top: 1rem;
      position: relative;

      &-input {
        width: 10rem;
        margin-right: 0;
        height: 2.5rem;
      }
    }

    input[type="file"]::file-selector-button {
      width: 10rem;
      margin-right: 0.5rem;
      height: 2.5rem;
    }

    &__input {
      display: flex;
      justify-content: space-between;
    }
    &__cancel {
      margin-bottom: 0;
      position: absolute;
      right: 15rem;
    }
  }
}
