@import url(../../styles/partials/_globals.scss);

.video {
    &__image {
        width: 100vw;
        &-object {
           width: 100%;
           height: 15rem;
           object-fit: cover; 
        }
    }
    &__title {
        margin: 1rem;
    }
    &__data{
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        gap: 5rem;
        &-container {
            display: block;
            text-align: start;
            &-views {
                @include counter-margins;
            }
            &-likes {
                @include counter-margins;
            }
        }
    }
    &__description {
        margin: 1rem;
    }
}
