@import "../../styles/partials/_globals.scss";
@import "../../styles/partials/_colors.scss";
@import "../../styles/partials/_fonts.scss";

.video {
    &__image {
        display: flex;
        justify-content: center;
        width: 100vw;
        background-color: $secondary-black;
        height: 56vw; // screen 16:9 setting
        &-object {
           height: 56vw;
           object-fit: contain;
        //    background-image: url(../../assets/icons/scrub.svg);
        }
    }
    &__title {
        margin: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $secondary-silver;
    }
    &__data{
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        gap: 20vw;
        padding-bottom: 0.5rem;      
        border-bottom: 1px solid $secondary-silver;

        &-container {
            
            &-views {
                @include counter-margins;
            }
            &-likes {
                @include counter-margins;
                gap: 0.7rem;
            }
            &-date {
                padding-bottom: 0.5rem;
                &-output {
                    color: $primary-silver;
                }
            }
            &-channel {
                padding-bottom: 0.5rem;
            }
        }
    }
    &__description {
        margin: 1rem;
    }
}

// TABLET STYLES

@media ((min-width: 768px) and (max-width: 1279px)){
    .video {
        &__data{
            margin: 1.5rem;
            display: flex;
            justify-content: space-between;
                &-container {           
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    align-items: center;
                }
        }
        &__title {
            border-bottom: none;
            margin: 1.5rem;
        }
        &__description {
            margin: 1.5rem;
        }
    }
}

// DESKTOP STYLES

@media screen and (min-width: 1280px) {
    .video {
        &__image {
            height: 45vw; // screen 16:9 setting
            &-object {
               height: 45vw;
               object-fit: contain;
            //    background-image: url(../../assets/icons/scrub.svg);
            }
        }
        &__data{
            margin: 1.5rem;
            display: flex;
            justify-content: space-between;
                &-container {           
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    align-items: center;
                }
        }
        &__title {
            border-bottom: none;
            margin: 1.5rem;
        }
        &__description {
            margin: 1.5rem;
        }
    }
}