@import "../../styles/partials/_colors.scss";
@import "../../styles/partials/_fonts.scss";
@import "../../styles/partials/_globals";

.comments {
    &__input {
        margin: 1rem;
        margin-top: 0;
        display: flex;
        gap: 1rem;

        &-avatar {
            @include avatar-mobile;
        }

        &-container {
            width: 80vw;
        }

        &-button {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: calc(100%);
            height: 2.5rem;
            color: white;
            background-image: url(../../assets/icons/add_comment.svg);
            border: none;
            border-radius: 4px;
            background-size: 1.5rem 1.5rem;
            background-repeat: no-repeat;
            background-position: 0.5rem;
            background-color: $primary-blue;

            &:hover {
                background-color: $secondary-darkblue;
            }
        }

        &-input { //default state
            @include input-comment;
            @include border;

            &:focus {
                border-color: $primary-blue;
                border-width: 2px;
            }

            &--changed:empty { //error state
            @include input-comment;
            border: 1px solid $error-red;
            }

            &--changed { // input state
            @include input-comment;
            border: 1px solid $primary-blue;
            }
        }
    }

    &__counter {
        margin-left: 1rem;
    }

    &__header {
        margin-left: 4.2rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
}

// TABLET STYLES

@media ((min-width: 768px) and (max-width: 1279px)) {
    .comments {
        &__header {
            margin-left: 4.8rem;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
        }

        &__input {
            margin: 1.5rem;
            margin-top: 0;

            &-avatar {
                @include avatar-desktop;
            }

            &-container {
                width: 90vw;
                gap: 1rem;
                display: flex;

            }

            &-button {
                width: 12rem;
                height: 2.5rem;
                margin-top: 0;
            }

            &-input {
                @include input-desktop-tablet;
            }

            &-input--changed {
                @include input-desktop-tablet;
            }
            &-input--changed:empty {
                @include input-desktop-tablet;
            }
        }

        &__counter {
            margin-left: 1.5rem;
        }
    }
}

// DESKTOP STYLES

@media screen and (min-width: 1280px) {
    .comments {
        &__header {
            margin-left: 4.8rem;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
        }

        &__input {
            margin: 1.5rem;
            margin-top: 0;

            &-avatar {
                @include avatar-desktop;
            }

            &-container {
                width: 90vw;
                gap: 1rem;
                display: flex;

            }

            &-button {
                width: 12rem;
                height: 2.5rem;
                margin-top: 0;
            }

            &-input {
                @include input-desktop-tablet;
            }
            
            &-input--changed {
                @include input-desktop-tablet;
            }
            
            &-input--changed:empty {
                @include input-desktop-tablet;
            }
        }

        &__counter {
            margin-left: 1.5rem;
        }
    }
}