@import './styles/partials/_colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// @media screen and (width >= 768px) {
//   .wrapper {
//     display: flex; // check
//   }
// }