@import './styles/partials/_colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media screen and (width >= 1280px) {
// split into two columns
  .main-content {
    display: flex;
    justify-content: center;
  }

  .left {
    max-width: 50%;
    border-right: 1px solid $primary-silver;
  }
  .sidevideos {
    width: 22rem;
  }

}